@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



.blog-container {
    width: 100%;
    margin: 0 auto;
    
}

/* heading */
.blog-heading {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 30px 0;
}
 .blog-heading p {
    color: #000000;
    font-size: 80px;
 } 

 .blog-content-create-btn {
    display: flex;
    justify-content: flex-end;
 }
 .blog-content-create-btn button{
    padding: 10px 20px;
    width: 100%;
    border-radius: 4px;
    color: black;
    background-color: #00FFFF;
    font-size: large;
 }
 .blog-content-create-btn button:hover{
    color: white;
    background-color: #0000CD;
 }

 /* content-heading */
.blog-content-card-heading {
    margin-top: 30px;
    text-decoration: underline;
}

/* no-content */

.no-content{
    display: flex;
    justify-content: center;
    font-size: larger;
    text-align: center;
    margin: 20px 0;
}

 /* content-card */
.blog-content-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 50px 0 50px 0;
}

.blog-content-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem ;
}
.blog-content-cards-grid a{
    text-decoration: none;
}
.blog-content-card-item img{
    height: 240px;
}


@media only screen and (max-width: 1163px) {
    .blog-content-cards-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem ;
    }
    .blog-content-card-item img{
        height: 240px;
    }
}
@media only screen and (max-width: 775px) {
    .blog-heading p {
        font-size: 50px;
    }
    .blog-content-cards-grid {
        display: grid;
        grid-template-columns:  1fr;
    }
    .blog-content-card-item img{
        height: 240px;
    }
}
@media only screen and (max-width: 480px) {
    .blog-heading p {
        font-size: 36px;
    }
    .blog-content-cards-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .blog-content-card-item {
        width: 85%;
    }
    .blog-content-card-item img{
        height: 240px;
    }
}
