.circular-progresss {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.bd-content h1{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.bd-content img{
    width: 90%;
    max-height: auto;
    margin-bottom: 20px;
}
.img-detail {
    display: flex;
    justify-content: center;
}
.bd-content h3{
    font-size: medium;
    margin-bottom: 20px;
}
.bd-content p{
    font-size: medium;
    color:#A9A9A9 ;
}
.bd-content a{
   text-decoration: none;
}
.bd-content-button{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.bd-content-button button{
    padding: 10px 20px;
    border-radius: 4px;
    color: black;
    font-size: large;
    text-decoration: none;
}
